# assignment
VVeganYam.zip

#files
popup.ml

# folder 
playlist
images

# ocaml
*.cmo
*.cma
*.cmi
*.out
*.cmx
*.native
*.byte
_build

# temporary files
*.swp
*~
\#*\#
.DS_Store

/log